<h1> Image Blur #1 </h1>
  <h3></h3>

  <p> 
      <%= I.output_image.inspect    %>
  </p>

<div class="box">
  <h4></h4>

</div>

<div class="box">
  <h4></h4>
 
</div>

<br class="clear" />
