<h1> Image Blur #1 </h1>
  <h3></h3>

 

<div class="box">
  <h4>original</h4>
 <p> 
      <%= I.output_image[0].join   %>
      <br />
      <%= I.output_image[1].join    %>
      <br />
      <%= I.output_image[2].join    %>
      <br />
      <%= I.output_image[3].join    %>
  </p>
</div>



<br class="clear" />
